<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      에러 제발 뜨지마 정신나갈꺼 같애 정신나갈꺼 같애 정신나갈꺼 같애
    </title>
  </head>
  <body>
    <h1>에러 제발 뜨지마 정신나갈꺼 같애 정신나갈꺼 같애 정신나갈꺼 같애</h1>
  </body>
</html>
