@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fef6e4;
}

#filters {
  margin-left: 5%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

#kResult {
  margin-left: 5px;
}

#buttons {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: hsl(46, 100%, 78%);
  border-color: #a69668;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: hsl(46, 100%, 78%);
  border-color: #f79c85;
}

/***********************
    OUTLINE BUTTONS
  ************************/

.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-primary.outline {
  border: 2px solid #a69668;
  color: #a69668;
}
.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
  color: hsl(330, 100%, 74%);
  border-color: #a69668;
}
.btn-primary.outline:active,
.btn-primary.outline.active {
  border-color: #a69668;
  color: hsl(113, 34%, 34%);
  box-shadow: none;
}

/***********************
    CUSTON BTN VALUES
  ************************/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

button {
  width: 60%;
  margin-bottom: 1%;
}

#filterButtons {
  width: fit-content;
  margin: 1px 5px 1px 5px;
}

#reset {
  width: fit-content;
  height: 40px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.219);
}
